.checkoutProduct {
    display: flex;
    margin: 20px 0;
    background-color: white;
    align-items: flex-start;
}
.checkoutProduct > img {
    object-fit: contain;
    width: 180px;
    height: 180px;

}
.checkoutProduct__info {
    padding-left: 10px;
}

.checkoutProduct__title {
    width: 250px;
}

.checkoutProduct > .checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__rating{
    display: flex;
}