.product__info {
    height: 100px;
    margin-bottom: 25px;
}

.product__rating {
    display: flex;
}

.product > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: scale 0.4s, background-color 0.4s;
}

.product > button:hover {
    background-color: #e0b03a;
    scale: 1.03;
}

.product > img {
    width: fit-content;
    margin-bottom: 15px;
    max-height: 200px;
    max-width: 250px;
    z-index: 1;
}